<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS_Subjective_Question2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B5616EC1F4201C000693FA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5617001F4201C000693FA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B853B081F423A5300FCB196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BBD54521F448CA900F773D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BBD54601F448CCB00F773D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
